
body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

div ul {
  list-style: none;
  margin-top: -100px;
}

div li {
  margin-left: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 1;
  justify-content: center;
  padding: 4px;
}

.iconBox {
  height: 300px;
  width: 300px;
  margin: auto;
  margin-bottom: 80px;
  cursor: pointer;
  border: 0.5px solid lightslategray;
  background-color: whitesmoke;
  opacity: 0.5;
  box-shadow: 0 19px 38px rgba(0,0,0,0.05), 0 15px 12px rgba(0,0,0,0.07);
  transition: 0.2s ease-in-out;

  padding: 10px;
  font-family: 'Raleway';
  font-size: 30px;
}

.iconBox:hover {
  height: 315px;
  width: 315px;
  opacity: 0.7;
  box-shadow: 0 19px 38px rgba(0,0,0,0.20), 0 15px 12px rgba(0,0,0,0.15);
  transition: 0.2s ease-in-out;
}

.homeBox {
  height: 50px;
  width: 140px;
  margin: auto;
  padding: 5px;
  line-height: 2.5;
  margin-bottom: 100px;
  cursor: pointer;
  background-color: whitesmoke;
  float: left;
  margin-left: 105px;
  font-family: 'Raleway';
  font-size: 15px;
  transition: 0.2s ease-in-out;
  text-align: center;
  border-bottom: 1.5px solid lightslategrey;

}

.homeBox:hover {
  height: 55px;
  width: 180px;
  line-height: 2.4;
  font-size: 20px;
  font-weight: 600;
  transition: 0.2s ease-in-out;
  border-bottom: 3px solid #efce63;
  box-shadow: 0 19px 38px rgba(0,0,0,0.02), 0 15px 12px rgba(0,0,0,0.02);
}

.textDivide {
  height: 2px;
  width: 70px;
  background-color: black;
  border-radius: 2px;
  margin-top: -20px;
  margin-left: 5px;
}

.overlight{
  background-color: #efce63;
}

.previewThin {
  height: 620px;
  width: 200px;
  margin: auto;
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 20px;
  float: left;
}

.panel1{
  height: 600px;
  width: 200px;
  margin-top: -10px;
  background-color: blue;
  background-image: url("../images/p1.png");
  background-repeat: no-repeat, repeat;
  webkit-filter: blur(4px); /* Chrome, Safari, Opera */
  filter: blur(4px) grayscale(100%);
  transition: 0.45s ease-in-out;
  opacity: 0.3;
}

.panel1:hover{
  webkit-filter: blur(0px); /* Chrome, Safari, Opera */
  filter: blur(0px) grayscale(0%);
  transition: 0.2s ease-in-out;
  cursor: pointer;
  opacity: 1;
}

.panel2{
  height: 600px;
  width: 200px;
  margin-top: -10px;
  background-color: blue;
  background-image: url("../images/p2.png");
  background-repeat: no-repeat, repeat;
  webkit-filter: blur(4px); /* Chrome, Safari, Opera */
  filter: blur(4px) grayscale(100%);
  transition: 0.45s ease-in-out;
    opacity: 0.3;
}
.panel2:hover{
  webkit-filter: blur(0px); /* Chrome, Safari, Opera */
  filter: blur(0px) grayscale(0%);
  transition: 0.2s ease-in-out;
  cursor: pointer;
    opacity: 1;
}
.panel3{
  height: 600px;
  width: 200px;
  margin-top: -10px;
  background-color: blue;
  background-image: url("../images/p3.png");
  background-repeat: no-repeat, repeat;
  webkit-filter: blur(4px); /* Chrome, Safari, Opera */
  filter: blur(4px) grayscale(100%);
  transition: 0.45s ease-in-out;
    opacity: 0.3;
}
.panel3:hover{
  webkit-filter: blur(0px); /* Chrome, Safari, Opera */
  filter: blur(0px) grayscale(0%);
  transition: 0.2s ease-in-out;
  cursor: pointer;
    opacity: 1;
}

.mid {
  text-align: center;
  width: 70%;
  margin: auto;
}
.panel4{
  height: 600px;
  width: 200px;
  margin-top: -10px;
  background-color: blue;
  background-image: url("../images/p4.png");
  background-repeat: no-repeat, repeat;
  webkit-filter: blur(4px); /* Chrome, Safari, Opera */
  filter: blur(4px) grayscale(100%);
  transition: 0.45s ease-in-out;
    opacity: 0.3;
}
.panel4:hover{
  webkit-filter: blur(0px); /* Chrome, Safari, Opera */
  filter: blur(0px) grayscale(0%);
  transition: 0.2s ease-in-out;
  cursor: pointer;
    opacity: 1;
}

.previewTitle{
  width: 100%;
  height: auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-align: left;
  margin-left: 5px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
background-position: 0 100%;
background-repeat: repeat-x;
background-size: 3px 3px;
color: #000;
text-decoration: none;
}

.underline:hover{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .50s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ef7f84' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 102%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}

.underline span {
  font-family: 'Raleyway';
  font-weight: 700;
  opacity: 1;
}

.anim {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .7s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%2394b7c7' stroke-width='1.5' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 90%;
  background-size: auto 10px;
  background-repeat: repeat-x;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}

.align {
  margin-top: 50px;
}

header div img {
  margin-top: 10px;
  height: 130px;
  width: 160px;
  cursor: pointer;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-align: center;
}

.brief {
  letter-spacing: 5px;
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-align: center;
}

.contact {
  letter-spacing: 2px;
  font-size: 17px;
}


.emailMe:hover {
  color: red;
}

.dark {
  opacity: 0.8;
  background-color: #efce63;
  font-size: 12px;
  color: black;
  font-weight: bold;
}

h1 {
  text-align: center;
}

.bioHeader {
  font-family: 'Raleway';
  font-size: 40px;
  cursor: pointer;
}

.bioBox {
  height: 380px;
  width: 80%;
  margin: auto;
  padding: 40px 10px 10px 15px;
}

.bioBodyText {
    font-family: 'Raleway', sans-serif;
    font-size: 18px;
    text-align: left;
    font-weight: 500;
    opacity: 0.5;
    cursor: pointer;
    line-height: 2;
    transition: 0.2s ease-in-out;
}

.bioBodyText:hover {
    opacity: 1;
    transition: 0.2s ease-in-out;
}


.bioAbout {
  font-family: monospace;
  font-size: 15px;
  text-align: left;
  margin-top: -10px;
  opacity: 0.6;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.bioHighlight {
  background-color: #efce63;
}

.bioAbout:hover {
  opacity: 1;
  transition: 0.2s ease-in-out;
}

.myForm {
  width: 60%;
  margin: auto;

}

.myForm label {
  display: block;
  text-align: left;
  font-family: 'Raleway', sans-serif;
  text-transform: uppercase;
  font-size: 14px;
  opacity: 0.4;
  font-weight: bold;
  margin-left: 75px;
}

.myForm input {
  margin: auto;
  margin-top: 20px;
  margin-bottom: 22px;
  display: block;
  cursor: pointer;
  height: 60px;
  width: 400px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: grey;
  border: 0px;
  border-bottom: 1px solid #efce63;
  transition: 0.2s ease-in-out;
  padding: 10px;
}

.myForm input:hover {
  border-bottom: 2px solid #efce63;
  margin-bottom: 21px;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.75);
opacity: 1;
color: darkslategrey;
transition: 0.2s ease-in-out;
}

.myForm textarea {
  padding: 10px;
  display: block;
  margin: auto;
  margin-top: 20px;
  cursor: pointer;
  height: 120px;
  width: 400px;
  font-family: 'Raleway', sans-serif;
  font-size: 14px;
  color: grey;
  border: 0px;
  border-bottom: 1px solid #efce63;
  transition: 0.2s ease-in-out;
}

.myForm textarea:hover {
  border-bottom: 2px solid #efce63;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.75);
margin-bottom: -1px;
transition: 0.2s ease-in-out;
}

.myForm button {
  margin: auto;
  margin-bottom: 50px;
  display: block;
  width: 400px;
  height: 60px;
  border: none;
  font-family: 'Raleway', sans-serif;
  text-transform: lowercase;
  font-size: 22px;
  color: #efce63;
  border: 1px solid #efce63;
  background-color: white;
  cursor: pointer;
  transition: all 0.2s ease-in;
}

.myForm button:hover {
  border: 1px solid #efce63;
  background-color: #efce63;
  color: black;
  font-weight: bold;
  transition: all 0.2s ease-in;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.75);
}

.myStyleButton {
  height: 50px;
  width: 140px;
  background-color: white;
  border: 1px solid #efce63;
  color: #efce63;
  font-size: 16px;
  font-family: 'Raleway', sans-serif;
  cursor: pointer;

}

.myStyleButton:hover {
  border: 1px solid #efce63;
  background-color: #efce63;
  color: black;
  font-weight: bold;
  transition: all 0.2s ease-in;
  -webkit-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 2px 0px 0px rgba(0,0,0,0.75);
}

.myLinkImage {
  height: 500px;
  width: 500px;
  margin: auto;
  background-image: url("../images/ghst.jpg");
  background-repeat: no-repeat, repeat;
  background-size: contain;
  background-color: red;
  margin-top: 45px;
  cursor: pointer;
}

.rc-anchor-light {
}

::selection {
  background: #ff8283; /* WebKit/Blink Browsers */
  color: white;
}
::-moz-selection {
  background: #ff8283; /* Gecko Browsers */
  color: white;
}
