

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  color: black;
  text-decoration: none;
}

div ul {
  list-style: none;
  margin-top: -100px;
}

div li {
  margin-left: 40px;
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  line-height: 1;
  justify-content: center;
  padding: 4px;
}

.textDivide {
  height: 2px;
  width: 70px;
  background-color: black;
  border-radius: 2px;
  margin-top: -20px;
  margin-left: 5px;
}

.overlight{
  background-color: #efce63;
}

.previewPane {
  height: 600px;
  width: 400px;
  border: 0.5px solid black;
  margin: auto;
  margin-left: 40px;
  margin-top: 60px;
  float: left;
}

.previewThin {
  height: 620px;
  width: 200px;
  margin: auto;
  margin-top: 50px;
  margin-left: 20px;
  margin-bottom: 20px;
  float: left;
}

.panel1{
  height: 600px;
  width: 200px;
  margin-top: -10px;
  background-color: blue;
  background-image: url("../images/p1.png");
  background-repeat: no-repeat, repeat;
  webkit-filter: blur(4px); /* Chrome, Safari, Opera */
  filter: blur(4px) grayscale(100%);
  transition: 0.45s ease-in-out;
  opacity: 0.3;
}

.panel1:hover{
  webkit-filter: blur(0px); /* Chrome, Safari, Opera */
  filter: blur(0px) grayscale(0%);
  transition: 0.2s ease-in-out;
  cursor: pointer;
  opacity: 1;
}

.panel2{
  height: 600px;
  width: 200px;
  margin-top: -10px;
  background-color: blue;
  background-image: url("../images/p2.png");
  background-repeat: no-repeat, repeat;
  webkit-filter: blur(4px); /* Chrome, Safari, Opera */
  filter: blur(4px) grayscale(100%);
  transition: 0.45s ease-in-out;
    opacity: 0.3;
}
.panel2:hover{
  webkit-filter: blur(0px); /* Chrome, Safari, Opera */
  filter: blur(0px) grayscale(0%);
  transition: 0.2s ease-in-out;
  cursor: pointer;
    opacity: 1;
}
.panel3{
  height: 600px;
  width: 200px;
  margin-top: -10px;
  background-color: blue;
  background-image: url("../images/p3.png");
  background-repeat: no-repeat, repeat;
  webkit-filter: blur(4px); /* Chrome, Safari, Opera */
  filter: blur(4px) grayscale(100%);
  transition: 0.45s ease-in-out;
    opacity: 0.3;
}
.panel3:hover{
  webkit-filter: blur(0px); /* Chrome, Safari, Opera */
  filter: blur(0px) grayscale(0%);
  transition: 0.2s ease-in-out;
  cursor: pointer;
    opacity: 1;
}

.mid {
  text-align: center;
  width: 70%;
  margin: auto;
}
.panel4{
  height: 600px;
  width: 200px;
  margin-top: -10px;
  background-color: blue;
  background-image: url("../images/p4.png");
  background-repeat: no-repeat, repeat;
  webkit-filter: blur(4px); /* Chrome, Safari, Opera */
  filter: blur(4px) grayscale(100%);
  transition: 0.45s ease-in-out;
    opacity: 0.3;
}
.panel4:hover{
  webkit-filter: blur(0px); /* Chrome, Safari, Opera */
  filter: blur(0px) grayscale(0%);
  transition: 0.2s ease-in-out;
  cursor: pointer;
    opacity: 1;
}

.previewTitle{
  width: 100%;
  height: auto;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-align: left;
  margin-left: 5px;
  margin-bottom: 20px;
  text-align: center;
  text-transform: uppercase;
}

.underline {
  background: linear-gradient(to bottom, var(--mainColor) 0%, var(--mainColor) 100%);
background-position: 0 100%;
background-repeat: repeat-x;
background-size: 3px 3px;
color: #000;
text-decoration: none;
}

.underline:hover{
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .50s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%23ef7f84' stroke-width='1' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 102%;
  background-size: auto 6px;
  background-repeat: repeat-x;
  text-decoration: none;
}

.anim {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg id='squiggle-link' xmlns='http://www.w3.org/2000/svg' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:ev='http://www.w3.org/2001/xml-events' viewBox='0 0 20 4'%3E%3Cstyle type='text/css'%3E.squiggle{animation:shift .7s linear infinite;}@keyframes shift {from {transform:translateX(0);}to {transform:translateX(-20px);}}%3C/style%3E%3Cpath fill='none' stroke='%2394b7c7' stroke-width='1.5' class='squiggle' d='M0,3.5 c 5,0,5,-3,10,-3 s 5,3,10,3 c 5,0,5,-3,10,-3 s 5,3,10,3'/%3E%3C/svg%3E");
  background-position: 0 90%;
  background-size: auto 10px;
  background-repeat: repeat-x;
  text-decoration: none;
  padding: 10px;
  cursor: pointer;
}

.align {
  margin-top: 50px;
}

header div img {
  margin-top: 10px;
  height: 130px;
  width: 160px;
  cursor: pointer;
}

p {
  font-family: 'Raleway', sans-serif;
  font-size: 18px;
  text-align: center;
}

.brief {
  letter-spacing: 5px;
}

.contact {
  letter-spacing: 2px;
  font-size: 17px;
}


.emailMe:hover {
  color: red;
}

.dark {
  opacity: 0.8;
  background-color: #efce63;
  font-size: 12px;
  color: black;
  font-weight: bold;
}

h1 {
  text-align: center;
}

::selection {
  background: #ff8283; /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: #ff8283; /* Gecko Browsers */
}
